31-1_Tokoshev.Daniyar_hw1.py
31-1_Tokoshev.Daniyar_hw2.py
31-1_Tokoshev.Daniyar_hw3.py
31-1_Tokoshev.Daniyar_hw4.py
Daniyar_31-3_hw1.py
Daniyar_31-3_hw2.py
Daniyar_31-3_hw3.py
Daniyar_31-1_hw4.py
Daniyar_31-1_hw5.py
Daniyar_31-1_hw6.py
Daniyar_31-1_hw7.py
Daniyar_31-1_hw8.py
lesson_4.py
lesson_8_1.py
NasWay+Vodka=lyboB1.py
tokoshev.py
new.txt
sorted_results.txt
new_file.txt
31-1_Tokoshev.Daniyar_hw5.py
game_logic.py
main.py
settings.ini
win_loss_logic.py
requirements.txt
.idea
__pycache__
